<?xml version="1.0"?>
<robot name="/home/pulsarv/robomaster_ws/src/webots_ros2_robomaster/resource/robomaster.urdf" xmlns:xacro="http://ros.org/wiki/xacro">
    <webots>
        <device reference="LDS-01" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>LDS-01</frameName>
            </ros>
        </device>



        <device reference="camera" type="Camera">
            <ros>
                <enabled>true</enabled>
                <updateRate>10</updateRate>
                <imageSuffix>/image_raw</imageSuffix>
                <cameraInfoSuffix>/camera_info</cameraInfoSuffix>
                <alwaysOn>true</alwaysOn>
                <frameName>camera_link</frameName>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>20</updateRate>
            <topicName>/imu</topicName>
            <alwaysOn>false</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial_unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin>

        <!-- <plugin type="webots_ros2_control::Ros2Control" /> -->

        <!-- type="package_name.file_name.class_name" -->
        <plugin type="webots_ros2_robomaster.plugin_example.PluginExample">
            <parameterExample>someValue</parameterExample>
        </plugin>

        <plugin type="webots_ros2_robomaster.wheels_controller.WheelsController" />

        <!-- <plugin type="webots_ros2_robomaster.my_robot_driver.MyRobotDriver" /> -->


    
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="front_left_wheel_joint">
            <state_interface name="position"/>
            <command_interface name="velocity"/>
        </joint>
        <joint name="front_right_wheel_joint">
            <state_interface name="position"/>
            <command_interface name="velocity"/>
        </joint>
        <joint name="back_left_wheel_joint">
            <state_interface name="position"/>
            <command_interface name="velocity"/>
        </joint>
        <joint name="back_right_wheel_joint">
            <state_interface name="position"/>
            <command_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>
